body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  /*overflow-x: hidden;*/
	font-size: 1em;
}

	body::-webkit-scrollbar { display: none; }

.flexcontainer {
  background-color: #fffffd;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  /*-webkit-flex-direction: row;
  flex-direction: row;*/
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  flex-basis: 70%;
  overflow: scroll;
}

/*------Character Index Modal------*/
/*http://foundation.zurb.com/sites/docs/reveal.html*/

#menuToggle img {
	position: fixed;
	opacity: 0.5;
	border-radius: 3px;
	margin: inherit;
	margin-top: 1rem;
	padding: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

	#menuToggle img:hover { opacity: 0.9; }

	/*------ menuToggle media queries----- */

	@media (min-width: 20em) {
	/*320px (320px ~ 16px = 20em)*/
		#menuToggle img {
			width: 35px;
			height: 35px;
			top: -5px;
			right: 5px;
		}
	}

	@media (min-width: 25em) {
	/*400px (400px ~ 16px = 25em)*/
		#menuToggle img {
			width: 35px;
			height: 35px;
			top: 1em;
			right: 9px;
		}
	}

	@media (min-width: 27.8125em) {
	/*445px (475px ~ 16px = 27.8125em)*/
		#menuToggle img {
			width: 40px;
			height: 40px;
			top: 1em;
			right: 1.2em;
		}
	}

	@media (min-width: 40em) {
	/*640px (740px ~16px = 40em)*/
		#menuToggle img {
			width: 40px;
			height: 40px;
			top: 20px;
			right: .2em;
		}
	}

	@media (min-width: 45em) {
	/*720px (720px ~16px = 48.75em)*/
		#menuToggle img {
			width: 40px;
			height: 40px;
			top: 20px;
			right: 1em;
		}
	}

	@media (min-width: 54.375em) {
	/*870px (870px ~ 16px = 54.375em)*/
		#menuToggle img {
			width: 40px;
			height: 40px;
			top: 20px;
			right: 20px;
		}
	}

  @media (min-width: 68.125em) {
	/*1090px (1090px ~ 16px = 68.125em)*/
		#menuToggle img {
			width: 35px;
			height: 35px;
			top: 20px;
			right: 0.4em;
		}
	}

	@media (min-width: 78.125em) {
	/*1250px (1250px ~ 16px = 78.125em)*/
		#menuToggle img {
			width: 40px;
			height: 40px;
			top: 20px;
			right: 1em;
		}
	}

	/*------- fin. -------*/

#navModal {
  background-image: linear-gradient(#fff, #f7f7f7);
	padding: 3%;
  border-radius: 4px;
	border-color: #ddd;
  opacity:  0.95;
  transition: all .3s;
}

	#navModal::-webkit-scrollbar { display: none; }


#navigation {
  list-style: none;
	text-align: center;
}

.nav-item {
  opacity: 1;
	border-bottom: 1px solid #e6e6e6;
}

.nav-item a {
  cursor: pointer;
	/*font-variant: small-caps;*/
	color: #111;
	line-height: 2;
	font-size: 1.2em;
}

	.nav-item a:hover { color: #444;}

	.nav-item a:active { color: #000; }



.close-button {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 1% 50%;
	padding-top: 5%;
}

	.close-button:hover { color: #444; }

	.close-button:focus {
		color: #444;
	 	border: none;
	}

/*--------ARTICLE STYLES----------*/

article {
  margin: 4% 2% 1% 2%;
  padding: 0px 2%;
  height:auto !important;
  height: 35em;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

	article::-webkit-scrollbar { display: none; }

  /*--------Article Media Queries--------*/
	@media (min-width: 20em) {
	/*320px (320px ~ 16px = 20em)*/
    article {
      width: 14.0625em;

    }
  }

	@media (min-width: 22.5em) {
	/*360px (360px ~ 16px = 22.5em)*/
		article {
			/*270px*/
			width: 16.875em;
		}
	}

  @media (min-width: 25em) {
	/*400px (400px ~ 16px = 25em)*/
    article {
      width: 18.75em;
    }
  }

  @media (min-width: 30.3125em) {
	/*485px (485px ~ 16px = 30.3125em)*/
    article {
      width: 25em;
    }
  }

  @media (min-width: 40em) {
	/*640px (740px ~16px = 40em)*/
    article {
      width: 18em;
			min-height: 43.75em;
    }
  }

  @media (min-width: 54.375em) {
	/*870px (870px ~ 16px = 54.375em)*/
    article {
      width: 20em;
			min-height: 43.75em;
    }
  }
  /*------- fin. -------*/

.name {
  padding-top: 5%;
  margin: 1%;
	text-align: center;
  font-size: 1.2em;
	letter-spacing: 1.3px;
}

	@media (min-width: 20em) {
	/*320px (320px ~ 16px = 20em)*/
		.name {
			padding-top: 3%;
		}
	}

  @media (min-width: 25em) {
	/*400px (400px ~ 16px = 25em)*/
    .name {
      font-size: 1.5rem;
    }
  }

img {
  margin-top: 2%;
  border-radius: 3px;
}

/*-------Image Media Queries-------*/
  @media (min-width: 20em) {
  /*320px (320px ~ 16px = 20em)*/
    img {
      margin-left: 9%;
			/*175 x 128*/
      width: 10.9375em;
      height: 8em;
    }
  }

	@media (min-width: 22.5em) {
	/*360px (360px ~ 16px = 22.5em)*/
		img {
			/*210px*/
			width: 13.125em;
			height: 9.875em;
		}
	}

  @media (min-width: 25em) {
  /*400px (400px ~ 16px = 25em)*/
    img {
			margin: 0 2% 0 5%;
			/*250 x 183*/
      width: 15.625em;
      height: 11.4375em;
    }
  }

  @media (min-width: 30.3125em) {
	/*485px (485px ~ 16px = 30.3125em)*/
    img {
			margin: 0 5%;
			/*300px*/
      width: 18.75em;
      height: 12.875em;
    }
  }

	@media (min-width: 36.25em) {
	/*580px (580px ~ 16px = 36.25em)*/
		img {
		/*275 x 202*/
			margin: 0 10 0 12%;
			width: 17.1875em;
			height: 12.625em;
		}
	}


  @media (min-width: 40em) {
	/*640px (740px ~16px = 40em)*/
    img {
			margin: 0 2 0 1%;
			/*250 x 183*/
      width: 15.625em;
      height: 11.4375em;
    }
  }

  @media (min-width: 54.375em) {
  /*870px (870px ~ 16px = 54.375em)*/
    img {
			margin: 0% 1%;
			/*275 x 202*/
      width: 17.1875em;
      height: 12.625em;
    }
  }

  @media (min-width: 64em) {
	/*1024px (1024px ~ 16px = 64em)*/
    img {
			/*300 x 220*/
      width: 18.75em;
      height: 13.75em;
    }
  }

  /*------- fin. -------*/

.entry {
  /*margin: 0px;*/
	padding: 10% 2% 0 2%;
  background-color: #fff;
}

	.entry::-webkit-scrollbar { display: none; }

  /*-------Entry Media Queries-------*/
  /*320px (320px ~ 16px = 20)*/
  @media (min-width: 20em) {
    .entry {
			margin: 0 5%;
    }
  }

  /*400px (400px ~ 16px = 25em)*/
  @media (min-width: 25em) {
    .entry {
			margin: 0 7%;
    }
  }

  /*485px (485px ~ 16px = 30.3125em)*/
  @media (min-width: 30.3125em) {
    .entry {
			margin: 0 5%;
    }
  }

  /*640px (740px ~16px = 40em)*/
  @media (min-width: 40em) {
    .entry {
			margin: 0 4%;
    }
  }

  /*870px (870px ~ 16px = 54.375em)*/
  @media (min-width: 54.375em) {
    .entry {
			margin: 0 1%;
    }
  }

  /*------- fin. -------*/

  /*----Video Player Media Queries----*/
	@media (min-width: 20em) {
	/*320px (320px ~ 16px = 20em)*/
		iframe {
			/*175px*/
			width: 10.9375em;
			height: 8.9375em;
		}
	}

	@media (min-width: 22.5em) {
	/*360px (360px ~ 16px = 22.5em)*/
		iframe {
			/*210px*/
			width: 13.125em;
			height: 9.875em;
		}
	}

	@media (min-width: 25em) {
	/*400px (400px ~ 16px = 25em)*/
		iframe {
			/*210px*/
			width: 13.125em;
			height: 9.875em;
		}
	}

	@media (min-width: 36.25em) {
	/*580px (580px ~ 16 = 36.25em)*/
		iframe {
			/*250px*/
			width: 15.625em;
			height: 11.4375em;
		}
	}

	/*------- fin. -------*/

.episode {
  margin: 5% 0 3% 0;
	text-align: center;
	font-style: italic;
	letter-spacing: 1.1px;
}

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

p {
  padding: 3%;
  line-height: 1.5em;
	text-align: left;
  width: auto;
}

	@media (min-width: 20em) {
	/*320px (320px ~ 16px = 20em)*/
	 	p {
			line-height: 1.2em;
		}
	}

	@media (min-width: 22.5em) {
	/*360px (360px ~ 16px = 20em)*/
	 	p {
			line-height: 1.4em;
		}
	}

	@media (min-width: 25em) {
	/*400px (400px ~ 16px = 25em)*/
		p {
			line-height: 1.5em;
		}
	}

em {
	text-align: center;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

	.cd-container::after {
	  /* clearfix */
	  content: '';
	  display: table;
	  clear: both;
	}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(img/arrow201.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
	.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	  -moz-transition: opacity .3s 0s, visibility 0s 0s;
	  transition: opacity .3s 0s, visibility 0s 0s;
	}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .7;
}

	.no-touch .cd-top:hover {
	  opacity: 1;
	}

/*--'To Top' media queries--*/

	@media (min-width: 20em) {
	/*320px (320px ~ 16px = 20em)*/
		.cd-top {
			height: 40px;
			width: 40px;
			bottom: 1em;
			right: 3px;
		}
	}

	@media (min-width: 25em) {
	/*400px (400px ~ 16px = 25em)*/
		.cd-top {
			height: 40px;
			width: 40px;
			bottom: 1em;
			right: 9px;
		}
	}

	@media (min-width: 27.8125em) {
	/*445px (475px ~ 16px = 27.8125em)*/
		.cd-top {
			height: 40px;
			width: 40px;
			bottom: 2em;
			right: 1.2em;
		}
	}

	@media (min-width: 40em) {
	/*640px (640px ~16px = 40em)*/
		.cd-top {
			right: 20px;
			bottom: 20px;
		}
	}

	@media (min-width: 54.375em) {
	/*870px (870px ~ 16px = 54.375em)*/
		.cd-top {
			right: 20px;
			bottom: 20px;
		}
	}

	@media (min-width: 64em) {
	/*1024px (1024px ~ 16px = 64em)*/
		.cd-top {
	    height: 60px;
	    width: 60px;
			bottom: 30px;
	    right: 30px;
	  }
	}

  @media (min-width: 68.125em) {
	/*1090px (1090px ~ 16px = 68.125em)*/
		.cd-top {
			height: 60px;
			width: 60px;
			bottom: 30px;
			right: 0.3em;
		}
	}

	@media (min-width: 78.125em) {
	/*1250px (1250px ~ 16px = 78.125em)*/
		.cd-top {
			height: 60px;
			width: 60px;
			bottom: 30px;
			right: 1em;
		}
	}

	/*------- fin. -------*/


/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
