/*make fixed*/
HEAD
.header {
 width: 100%;
  height: 25%;
position: fixed;
padding: -1%;
  float: top;
 margin-bottom: -10%;
background-color: #f8f8ff;
z-index: 1;
}

/*GENERAL BLAH BLAH BLAH*/

 .sitewrap {

 }

   body {
    background-color: #f8f8ff;
    font-family: georgia, monospace;
    overflow-x: hidden;
   }


/******* HEADER ******/


 header {
  float: top;
  background-color: #f8f8ff;
  height: 5em;
  padding: 2%;
  text-align: center;
 }

 h1 {
  padding: 1%;
  display: inline;
  overflow: auto;

 }

 /******* MAIN CONTENT STUFF ******/



 main {
  margin-left: 5%;
  margin-right: 5%;

 }


  section {
  background-color: #f8f8ff;
  height: 26em;
  padding: 3%;
  padding-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0%;
  overflow: scroll;

  }

    section::-webkit-scrollbar {
    display: none;
    }


  article {
  padding: 1%;
  overflow: auto;
  background-color: #f8f8ff;

  }

  .entry {
   padding: 2%;
   margin: 1%;

   background-color: #f8f8ff;

  }


/******** STYLING FOR TEXT & LINKS  ************/


  p {
   padding: 3%;
   line-height: 1.5em;
   text-align: justify;
  }


/*ARTICLE TITLES*/

  h2 {
  width: 8em;
   background-color: #f8f8ff;
  }

  /*APPLICABLE TO ALL LINKS*/

 a {
  color: black;
  text-decoration: none;
 }

  a:visited {
   color: black;
   text-decoration: none;

  }

 a:hover {
   color: gray;
   text-decoration: none;
  }

/* FOOTER DIV, HOPEFULLY TO BE SOMEHOW TURNED INTO THE MENU*/


.footer {
 background-color: #f8f8ff;
 padding: 2%;
 position: fixed;
}

/******** CLASSIE PLUGIN CSS  ************/
/* General styles for all menus */

.cbp-spmenu {
	background: #47a3da;
	position: fixed;
 overflow: scroll;
}
.cbp-spmenu::-webkit-scrollbar {
display: none;
}


.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
